<div class="main-buttons-div">
  <%= link_to 'Lincences', licences_path, class: "btn btn-primary btn-lg btn-block main-button" %><br>
  <%= link_to 'websites & apps', sites_path, class: "btn btn-success btn-lg btn-block main-button" %>
</div>