<!DOCTYPE html>
<html>
<head>
  <title>LicenceApp</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <a href="/">
      <h1 class="text-center">Licence Book</h1>
      <h4 class="text-center headding-front-page">app for licences & contacts</h4>
    </a>
    <%= yield %>
  </div>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
